* {
  margin: 0;
  padding: 0;
  background-color: gray;
}

#img1,
#img2,
#img3 {
  height: 10vh;
  width: 10vh;
}

#logo,
#jackpot {
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top: 2%;
  font-size: 2rem;
}

#jackpot {
  width: 40vw;
  height: 10vh;
}

.reelContainer,
#bets {
  display: flex;
  justify-content: center;
}
.reelContainer img {
  margin: 1%;
  border: 2px solid black;
  padding: 1%;
}

#bets button {
  /* border: 2px solid greenyellow; */
  margin: 1%;
  display: flex;
  justify-content: space-between;
  font-size: 2rem;
}

span {
  display: flex;
  justify-content: center;
  font-size: 2rem;
}

#spinBtn {
  margin: 1%;
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 15vw;
  height: 10vh;
  /* border: 2px solid greenyellow; */
  font-size: 3.5rem;
}

.betBorder {
  border: 2px solid yellow;
}
